h1{
    color: rgb(210, 177, 30);
    margin: 0;
}
h1, h2{ 
    margin: 0;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
.desc{
    margin-top: 20px;
    margin-bottom: 20px;

}
.card {
width: 700px;
height: 200px;
border: 2px solid #3abe3af3 ;
padding: 30px;
background-color: cornflowerblue;
margin-bottom: 40px;

}

/* Если хотим в одну строку */
/* .list{ 
    display: flex;
    gap: 30px
} */